<section class="user_info">
	<h2>合同管理</h2>
	<h3>
		<%= link_to "合同清单", contracts_path %>
		<%= link_to "新建合同" ,new_contract_path %> |
		<%= link_to "业务往来单位信息记录", partybs_path %>	|
		<%= link_to "收/付款记录", deals_path %>	
	</h3>
</section>