<%= form_for(@worklog) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "新建日志..." %>
  </div>
  <%= f.submit "保存日志", class: "btn btn-primary" %>
<% end %>