<% provide(:title, "选择参与人员") %>
  <div class="row">
    <aside class="col-md-6 col-md-offset-3">
      <section class="worklog_form">
        <%= render 'shared/partaker_form' %>
      </section>
    </aside>
  </div>