<% provide(:title, "添加部门") %>
  <div class="row">
  
    <aside class="col-md-6 col-md-offset-3">
      <section class="worklog_form">
        <%= render 'shared/implement_form' %>
      </section>
    </aside>
  </div>